<strong>Olá {{ nomeEstudante }}</strong>
<p>Realização de matrícula foi realizada com sucesso!</p>
<p>
  <strong>Data de Início: {{ dataInicial }}</strong> <br />
  <strong>Período de {{ meses }} meses</strong> <br />
  <strong>Data de Término: {{ dataFinal }}</strong> <br />
  <strong>Valor total de: {{ valorTotal }}</strong> <br />
</p>
<br />
<p>Seja bem vindo a GymPoint!</p>
